---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{site.max_width}};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

.grid {
  display: flex;
 }
.col-1-2 {
  flex: 1.5;
}
.cole-1-2:last-child {
  margin-left: 20px;
}